body {
    background-color: goldenrod;
    font-family: "helvetica Neue", Arial, sans-serif;
    font-size: 1.5em;
    color: #875
}

h1 {
    color:darksalmon
    font-family: Georgia, serif;
}

form input [type="text"] {
    width: 20%;
    margin: 5px;
    border: 2px solid peru;
    border-radius: 7px;
}