table {
	border: 1px solid silver;
}

td: hover {
	background-color: FireBrick;
	color: black;
}

tr, th {
	background-color: black;
	color: lime;
}

tr, td {
	background-color: darkgreen;
	color: white;
}